@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<t2008m_WAD.Models.Product>

<div class="container-header">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Products</h1>
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Product</li>
                    </ol>
                </div>
                <div class="col-sm-6 action-header">
                    <a href="~/Product/GetProduct">
                        <button class="btn btn-success">
                            <i class="fas fa-plus"></i>
                        </button>
                    </a>
                    <div class="card-tools">
                        <form action="#">
                            <div class="input-group input-search">
                                <input type="text" name="table_search" class="form-control"
                                       placeholder="Search by name...">
                                <button type="submit" class="btn">
                                    <i class="ion-ios-search-strong"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content content-main">
        <div class="container-fluid">
            <div class="card-body table-responsive table-style">
                <table class="table table-hover table-form">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th width="10%">Name</th>
                            <th>Price</th>
                            <th>Amount</th>
                            <th width="40%">Description</th>
                            <th class="text-center">Updated At</th>
                            <th width="5%" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>@item.Amount</td>
                                <td>@item.Description</td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>


